 <footer>
    <div class="row">
        <div class="col-sm-6">
            <p> All Rights Reserverd &copy; TekBook &nbsp; <a class="footer-link" href="/manage/admin">Manage</a></p>
        </div>
        <div class="col-sm-6">
            <ul class="nav navbar-nav navbar-right">
                <li class="footer-logo"><a href="#"><i class="fa fa-google" aria-hidden="true"></i></a></li>
                <li class="footer-logo"><a href="#"><i class="fa fa-facebook-square" aria-hidden="true"></i></a></li>
                <li class="footer-logo"><a href="#"><i class="fa fa-twitter-square" aria-hidden="true"></i></a></li>
                <li class="footer-logo"><a href="#"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a></li>
            </ul>
        </div>
    </div>
</footer>